package layouts

import (
	"github.com/Francesco99975/casaintake/internal/config"
	"github.com/Francesco99975/casaintake/views/ui"
)

templ Error(site config.Site, title string) {
	@CoreHTML(site) {
		<div class="min-h-screen flex flex-col">
			@ui.ErrorHeader(title)
			{ children... }
			@ui.ErrorFooter(title)
		</div>
	}
}
